@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Barlow+Condensed:800');

:root {
    --headingFont: 'Barlow Condensed', sans-serif;
    --bodyFont: 'Montserrat', sans-serif;
    
    --white: rgba(242, 244, 247, 1);
    --main: rgba(39, 70, 144, 1);
    --mainLight: rgba(87, 108, 168, 1);
    --greenAccent: rgba(32, 252, 143, 1);
    --redAccent: rgba(219, 80, 74, 1);
    --dark-2: rgba(19, 2, 9, 0.25);
    --dark-1: rgba(19, 2, 9, 0.50);
    --dark: rgba(19, 2, 9, 1); /* #130209 */
 
    --scale-6: 2px;
    --scale-5: 0.253rem;
    --scale-4: 0.353rem;
    --scale-3: 0.500rem;
    --scale-2: 0.707rem;
    --scale-1: 1.000rem;
    --scale0: 1.414rem;
    --scale1: 2.000rem;
    --scale2: 2.827rem;
    --scale3: 4.000rem;
    --scale4: 5.652rem;
    --scale5: 7.992rem;

}

/* --------------------
    RESPONSIVE FONT
-------------------- */

@media (min-width: 768px) {
    :root {
      font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
      min-height: 0vw;
    }
}

@media (min-width: 1920px) {f
    :root {
      font-size: 24px;
    }
}

/* --------------------
    *, HTML, AND BODY
-------------------- */

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0 var(--scale2);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    overflow-x: hidden;
}

/* --------------------
    GLOBAL ELEMENTS
-------------------- */


h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

p {margin-bottom: 1rem;}


h2 {font-size: 3.998rem;}

h3 {font-size: 2.827rem;}

h4 {font-size: 1.999rem;}

h5 {font-size: 1.414rem;}

small, .text_small {font-size: 0.707rem;}

/* --------------------
    STICKY
-------------------- */

#grainy-gradient {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(./SVG/gggrain.svg);
    background-size: cover;
}

/* --------------------
    GLOBAL TEMPLATES
-------------------- */

.wrapper {
    position: relative;
    min-height: min-content;
}

.section-change {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    margin: var(--scale5) 0;
}

.inline-dot {
    display: inline-block;
    height: var(--scale-4);
    width: var(--scale-4);
    margin-right: var(--scale-5);
    border-radius: 50%;
    background-color: var(--dark);
}

/* --------------------
    PAGE CHANGES
-------------------- */

.section-change-wrapper {
    display: flex;
    flex-direction: column;
    color: transparent;
    font-family: var(--headingFont);
    font-size: 7rem;
    font-weight: 800;
    white-space: nowrap;
    -webkit-text-stroke: 0.253rem var(--main);
}

/* --------------------
    HERO
-------------------- */

.hero {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
}

.hero-h1-wrapper {
    position: relative;
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1.414px solid rgba(255, 255, 255, 0.353);
    border-radius: 1rem;
    padding: 1.414rem 2.837rem;
    z-index: 1;
}

.hero-h1 {
    width: -moz-min-content;
    width: min-content;
    background: linear-gradient(219deg, 
    var(--redAccent) 19%, 
    transparent 19%,transparent 20%, 
    var(--mainLight) 20%, var(--mainLight)  39%,
    transparent 39%,transparent 40%, 
    var(--main) 40%,var(--main) 59% ,
    transparent 59%,transparent 60%, 
    var(--mainLight) 60%, var(--mainLight) 79%,
    transparent 79%, transparent 80%, 
    var(--redAccent) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-variant: small-caps;
}

.hero-arrow {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 1.414px var(--white);
    z-index: 1;
}

/* --------------------
    INTRODUCTION
-------------------- */

.introduciton {
    position: relative;
    display: grid;
    height: 85vh;
    width: 100%;
    border: 5px solid var(--dark);
    z-index: 1;
}

/* --------------------
    TOPIC SECTION TEMPLATES
-------------------- */

.main-topic {
    position: relative;
    height: 100vh;
    width: 100%;
}

.topic-container {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
}

.section-divider {
    height: var(--scale-6);
    margin-bottom: var(--scale0);
    border-radius: 1rem;
    background-color: var(--dark-2);
}

.TT-wrapper {
    display: relative;
    height: 100%;
}

.TT-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TT-heading {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: var(--scale1);
    font-weight: 400; /*  */
}

.team-name {
    margin: 0;
    color: var(--dark-1);
}

/* --------------------
    COLOR CONTRAST
-------------------- */

.color-contrast-container {
    grid-template-rows: 10% 1fr 1fr;
}

.CC {
    height: 100%;
}

.CC-top {
    grid-area: 1 / 1;
}

.CC-middle {
    grid-area: 2 / 1;
}

.CC-bottom {
    grid-area: 3 / 1;
}